body {
  padding: 50px;
}

/* Tables common */
.table,
.table th,
.table td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

/* Table 1 */
.table_1,
.table_1 th,
.table_1 td {
  padding: 5px 10px 15px 10px;
}

.table_1 thead {
  background-color: lemonchiffon;
  font-weight: bold;
}

.table_1 tr th:nth-child(2) {
  width: 200px;
}

.table_1 tr th:nth-child(3) {
  width: 100px;
}

.table_1 tfoot {
  background-color: darkseagreen;
  font-weight: bold;
}

.table_1 tfoot tr td:first-child {
  text-align: right;
}

.table_1 tbody {
  background-color: lightgray;
}

.table_1 tbody td:first-child {
  background-color: lavender;
}

/* Table 2 */
.table_2,
.table_2 th,
.table_2 td {
  padding: 1% 15px;
  border: 1px solid black;
}

.table_2 tr th:last-child {
  width: 300px;
}

/* Table 3 */
.table_3,
.table_3 th,
.table_3 td {
  border: 1px solid black;
  padding: 5px 15px;
  width: 290px;
  height: 35px;
}

.table_3 tr:nth-child(2) td {
  text-align: left;
}

.table_3 tr:nth-child(3) td:first-child {
  vertical-align: top;
  padding-top: 6%;
}

.table_3 tr:nth-child(4) td:first-child {
  vertical-align: top;
  padding-top: 10px;
}

.table_3 tr:nth-child(4) td:nth-child(2) {
  vertical-align: top;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
}

.table_3 tr:nth-child(4) td:nth-child(3) {
  padding-bottom: 10%;
}

/* Table 4 */
.table_4,
.table_4 th,
.table_4 td {
  border: 1px solid black;
  border-collapse: separate;
}

.table_4 td {
  text-align: left;
}

.table_4 img {
  width: 150px;
}
